.button-class 
{
  
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.5s;
  cursor: pointer;
  /* background-color: rgb(150, 209, 251); */
  /* color: black; */
  border: 1px solid rgb(0, 0, 0);

}

.button-class:hover {
  background-color: rgb(120, 150, 227);
  /* color: white; */
}